.packet {
    text-decoration: none;
    color: white;
}

.videos {
    margin: 10px;
}

.videos h5 {
    text-decoration: underline;
}

.videos a {
    text-decoration: none;
    font-weight: bold;
    color:darkgreen;
}

.videos a:hover {
    color: green;
}

nav {
    height: 70px;
}

body {
    background-color: aliceblue;
}

#faqContent {
    margin-left: 20%;
    margin-right: 20%;
}