*
{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding-top: 0;
}

#majorContent {
    padding-top: 15px;

}

#sidebar {
    padding-left: 10px;
    background: transparent;
    background-color: darkgray;
}

h1 {
    font-size: 45px;
    color: #844199;
    letter-spacing: 3px;
    background: transparent;
}

h2 {
    font-size: 34px;
    color: #a973b1;
    background: transparent;
}

h3 {
    font-size: 18px;
    color: #a973b1;
    font-style: italic;
    padding-left: 2%;
}

p, li {
    font-size: 14px;
    font-style: italic;
    background: transparent;
}

#contactList {
    list-style: none;
    background: none;
}

.resumeList {
    list-style-image: url(check.png);
    line-height: 20px;
}

p {
    padding-left: 4%
}

#portrait {
    height: 600px;
    width: 400px;
    float: right;
    margin-right: 10%;
}

a {
    color: black;
    transition: 0.35s;
    background: none;
}

a:visited {
    color: #844199;
}

a:hover {
    color:#844199;
}

a:active {
    text-decoration: none;
}

.resumeContent {
    margin-left: 2%;
}


.questions {
    text-align: center;
    background-image: url(multnomah.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.questions .btn-light {
    color: black;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 20px;
    --bs-btn-color: white;
}

.questions .btn-primary {
    --bs-btn-border-color: transparent;
    --bs-btn-bg: #844199;
    --bs-btn-color: white;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-color: #844199;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-bg: white;
    --bs-btn-active-color: #844199;
    font-style: italic;
    font-size: 25px;
}