body {
    background-color: #F0FFCe;
    font-family: 'Roboto Condensed';
    
}
.navbar {
    height: 80px;
    background-color: #A53F2B;
}

.nav-link {
    font-size: 21px;
    color:bisque;
}

.navbar-brand {
    font-size: 28px;
    padding-left: 5%;
    padding-right: 3%;
}

.navbar-nav {
    background-color: #A53F2B;
}

.btn-custom {
    border-color: #A53F2B;
    color:#A53F2B
}

.btn-custom:hover {
    background-color: #A53F2B;
    color: bisque;
}

.bg-bb {
    background-color: #280004;
}

.bg-sage {
    background-color: #ccc9a1;
}

.torCard {
    border-color: #A53F2B;
    border-width: 3px;
    background-color: rgba(214, 200, 182, 0.475);
    font-size: 17px;
}

.torCard h5 {
    font-size: 28px;
}
