*
{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 45px;
    color: #844199;
    letter-spacing: 3px;
}

h2 {
    font-size: 34px;
    color: #a973b1;
}

h3 {
    font-size: 18px;
    color: #a973b1;
    font-style: italic;
    padding-left: 2%;
}

p, li {
    font-size: 14px;
    font-style: italic;
}

#contactList {
    list-style: none;
}

.resumeList {
    list-style-image: url(check.png);
    line-height: 20px;
}

p {
    padding-left: 4%
}

#portrait {
    height: 600px;
    width: 400px;
    float: right;
    margin-right: 10%;
}

a {
    color: black;
    transition: 0.35s;
}

a:visited {
    color: #844199;
}

a:hover {
    color:#844199;
}

a:active {
    text-decoration: none;
}

.resumeContent {
    margin-left: 2%;
}


.questions {
    text-align: center;
    background-image: url(multnomah.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

.questions h2 {
    background: transparent;
    color: black;
    font-size: 40px;
    padding-top: 100px;
}

.questions a {
    background: transparent;
    text-decoration: underline;
    font-style: italic;
    color: black;
    font-size: 25px;
}

.questions a:hover {
    color:#844199;
}